extends layout

block content
    title= title
    h1 You are logged in.
    p.lead Say something worthwhile here.
    a(href="/") Go home
    br
    a(href="/ping") Ping
    br
    br
    a(href="/logout") Logout

  script(src='http://code.jquery.com/jquery.js')
  script(src='js/bootstrap.min.js')
