extends layout

block content
    title Your Profile
    nav#mainNav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand.page-scroll(itemprop='name', href='/') Foodworked.com
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a.page-scroll(href='/home') Home
                    li
                        a.page-scroll(href='/me/pro') My Profile
                    li
                        a.page-scroll(href='/network/pro') My Network
                    li
                        a.page-scroll(href='#services') Tech
                    li
                        a.page-scroll(href='/logout') Logout
    br
    br

    #action.bg-primary.text-center
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    h2.landing-heading.section-heading Welcome, #{user.firstname}
                    hr
                    h3.landing-heading
                        | Network with people, at your convenience, and theirs.
                #leftframe(style="float:left; width: 33%; height:120px; background-color:#EB3728;")
                    a(style="color: #FFFFEE;")
                        p.fa.fa-cutlery.fa-4x.centered Food
                #centerframe(style="float:left; width: 33%; height:120px; background-color:#EEEEEE;")
                    a(style="color: #444444")
                        p.fa.fa-handshake-o.fa-4x Network
                #rightframe(style="float:left; width: 33%; height:120px; background-color:#EEDB82;")
                    a
                        p.fa.fa-street-view.fa-4x Profile
    #baseframe(style="float:left, width: 100%; background-color:#DDDDDD;")


    script.
        $(function () {
            $("#centerframe").on("click", function () {
                $("#baseframe").load("/network");
            });
            $("#leftframe").on("click", function () {
                $("#baseframe").load("/food");
            });
            $("#rightframe").on("click", function () {
                $("#baseframe").load("/me");
            });
        });
    script(src='http://code.jquery.com/jquery.js')
    script(src='js/bootstrap.min.js')
