extends layout

block content
    title Foodworked
    nav#mainNav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand.page-scroll(itemprop='name', href='/') Foodworked.com
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a.page-scroll(href='/home') Home
                    li
                        a.page-scroll(href='#services') Tech
                    li
                        a.page-scroll(href='/find') Go inside
    br
    br
    br
    #action.bg-primary
        .container
            .row
                .col-lg-8.col-lg-offset-2.text-center
                    h1.landing-heading.section-heading Welcome to Foodworked: Food + Networking
                    hr
                    p.landing-header.text-center
                        | Making daily meals
                        strong  productive.

                    form(method="get",action="/auth/facebook")
                        button.btn.btn-default Login via Facebook
    #rightframe(style="float:right; width: 50%; background-color:#DDDDDD; padding: 2px;")
        #action
                    .col-lg-8.col-lg-offset-2
                        h4.landing-heading
                            | 1. Your Profile
                            br
                            |  2. Food you search
                            br
                            |  3. Tweets
                            br
                            |  are used to find best
                            a(href='#')  network
                            |  opportunities with people in your area.
    .panel-footer
        .container
            .row
                .col-lg-8.col-lg-offset-2.text-center
                    h1.landing-heading.section-heading Note
                    p
                    strong Under Development.
                    |  Open to public.
                    strong  Policy:
                    |  In no event we are liable for any direct, indirect, incidental, special, exemplary, or consequential damages including
                    | but not limited to procurement or substitute of goods and services. And you agree to it if you login.
                    p
                    | Launching Alpha in March!

PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES
