doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/freelancer.css')
    link(rel='stylesheet', href='/font-awesome-4.7.0/css/font-awesome.min.css')
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/freelancer.min.js')
    script(src='http://code.jquery.com/jquery-1.11.2.min.js')
  body
    block content
