doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/sqellow.css')
    link(rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/freelancer.css')
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css')
    script(src='js/jquery.js')
    script(src='js/bootstrap.min.js')
    script(src='js/freelancer.min.js')
    script(src='js/scrollreveal.min.js')
    script(src='js/jquery.easing.min.js')
    script(src='js/jquery.fittext.js')
    script(src='js/jquery.magnific-popup.min.js')
    script(src='js/creative.js')
    script(src='http://code.jquery.com/jquery-1.11.2.min.js')
  body
    block content
