extends layout

block content
    h1.
        User List
    ul
        each user, i in userlist
            li
                p #{user.email}, #{user.username}, #{i}

    form#formAddUser(name="adduser",method="post",action="/adduser")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserEmail(type="text", placeholder="useremail", name="useremail")
        button#btnSubmit(type="submit") submit
